name: CI
on:
  pull_request:

jobs:
  ci:
    name: Check site
    runs-on: [self-hosted, Linux, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Hugo
        run: make setup
      - name: Test Site
        run: make test
